.contact-container {
  display: block;
  width: 100%;
  height: 100%;
  h3 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  .contact-list {
    max-width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    .link-icon {
      font-size: 30px;
      color: white;
      justify-self: center;
      align-self: center;
      border: 1px solid white;
      border-radius: 10px;
      width: 100%;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      transition: 0.4s all ease-in-out;
      position: relative;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(208, 208, 218, 0.199);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      span {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 10px;
        top: 0;
        left: 0;
        text-align: center;
        padding-top: 36px;
        transition: 0.4s all ease-in-out;
        background: #02394a;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.445);
      }
      .icon-icon {
        font-size: 40px;
      }
      &:hover {
        background-color: white;
        color: #02394a;
        transition: 0.4s all ease-in-out;
      }
      &:hover > span {
        left: 300px;
        transition: 0.4s all ease-in-out;
      }
      &:nth-of-type(odd):hover > span {
        left: -300px;
        transition: 0.4s all ease-in-out;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact-container {
    .contact-list {
      width: 370px;
      grid-gap: 30px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .link-icon {
        height: 80px;
        span {
          top: 0;
          left: 0;
          content: "";
          width: 310px;
          height: 80px;
          padding-top: 20px;
        }
        &:hover > span {
          left: 310px;
          transition: 0.4s all ease-in-out;
        }
        &:nth-of-type(odd):hover > span {
          left: -310px;
          transition: 0.4s all ease-in-out;
        }
      }
    }
  }
}
