.contact-container-active {
  min-width: 70%;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4c7;
  transition: 0.7s all ease-in-out;
  border-radius: 10px;
  display: none;
  .contact-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px;
    position: relative;
    transition: 0.7s all ease-in-out;
    .link-icon {
      font-size: 30px;
      color: white;
      border: 1px solid white;
      border-radius: 10px;
      min-width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      transition: 0.4s all ease-in-out;
      position: relative;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(208, 208, 218, 0.199);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      span {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 10px;
        top: 0;
        left: 0;
        text-align: center;
        padding: 12px;
        transition: 0.4s all ease-in-out;
        background: #02394a;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.445);
        font-size: 20px;
      }
      .icon-icon {
        font-size: 40px;
      }
      &:hover {
        background-color: white;
        color: #02394a;
        transition: 0.4s all ease-in-out;
      }
      &:hover > span {
        left: 300px;
        transition: 0.4s all ease-in-out;
      }
      &:nth-of-type(odd):hover > span {
        left: -300px;
        transition: 0.4s all ease-in-out;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact-container-active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s all ease-in-out;
    .contact-list {
      // width: auto;
      // grid-gap: 20px;
      // grid-template-columns: 1fr;
      // grid-template-rows: 1fr;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px 0;
      .link-icon {
        height: 60px;
        margin-top: 30px;
        &:nth-last-child(4) {
          margin-top: 0;
        }
        span {
          top: 0;
          left: 0;
          content: "";
          //@at-root: 310px;
          height: 60px;
          padding-top: 20px;
        }
        &:hover > span {
          left: 310px;
          transition: 0.4s all ease-in-out;
        }
        &:nth-of-type(odd):hover > span {
          left: -310px;
          transition: 0.4s all ease-in-out;
        }
      }
    }
  }
}
