.container {
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px 25px;
  padding-left: 50px;
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 5px 0;
    margin-bottom: 50px;
    .myPic {
      border-radius: 50%;
    }
  }
  .paraDiv {
    .headText {
      color: white;
      span {
        font-weight: bold;
      }
    }
  }
  .icon-div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    max-width: 90%;
    .icon {
      font-size: 60px;
      color: white;
      display: block;
      padding: 5px;
      transition: 0.3s all ease-in-out;
      &:hover {
        background: white;
        color: #02394a;
        border-radius: 10px;
        transition: 0.3s all ease-in-out;
      }
    }
  }

  .headingThree {
    color: rgb(3, 226, 255);
    font-size: 2em;
    border-bottom: 4px solid rgb(3, 226, 255);
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 70px;
    margin-left: 50px;
    padding: 5px;
    width: 220px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        border-radius: 10px;
      }
      .itemPara {
        width: 60%;
        text-align: left;
        margin-left: 80px;
        color: white;
      }
      ul {
        display: flex;
        align-items: center;
        height: 100px;
        border-left: 1px solid rgba(255, 255, 255, 0.322);
        li {
          margin-left: 15px;
          a {
            color: rgb(3, 226, 255);
            padding: 5px;
            //transition: 0.3s all ease-in-out;
            display: block;
            height: 100%;
            &:hover {
              //border-bottom: 1px solid white;
              //transition: 0.3s all ease-in-out;
              transform: skew(-10deg);
            }
          }
        }
      }
    }
  }
}
