.container {
  border: 1px solid white;
  width: 80vw;
  height: calc(100vh - 180px);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 25px;
  overflow: auto;
  .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    .myPic {
      border-radius: 50%;
    }
  }
  .headingThree {
    color: white;
    font-size: 2em;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .itemPara {
        width: 60%;
        text-align: left;
        margin-left: 100px;
        color: white;
      }
      ul {
        li {
          a {
            color: white;
          }
        }
      }
    }
  }
}
