@mixin centered() {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  padding-top: 70px;
  height: 70px;
  ul {
    @include centered();
    height: 100%;
    li {
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      @include centered();
      a {
        //height: 60%;
        padding: 10px;
        color: rgb(229, 210, 246);
        font-weight: bold;
        font-size: 1.2em;
        transition: 0.3s all ease;
        &:hover {
          color: #d6dee1;
          transition: 0.3s all ease;
          background: white;
          color: #02394a;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .navbar {
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar {
    margin-bottom: 50px;
  }
}
